[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sunrise/Desktop/rdk_user_manual_en.desktop]
row=2
col=0

[/home/sunrise/Desktop/rdk_user_manual.desktop]
row=3
col=0

[/home/sunrise/Desktop/rdk_developer.desktop]
row=5
col=0

[/home/sunrise/Desktop/rdk_developer_en.desktop]
row=4
col=0

[/]
row=0
col=0

[/home/sunrise]
row=1
col=0

